<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center mt-3">Update Employee Data </h1>

    <form action="/results" method="get" class="justify-content-center d-flex flex-column align-items-center mt-5">
        <input type="text" class="form-control w-25 m-2"  placeholder="Employee Name">
        <input type="text" class="form-control w-25 m-2"  placeholder="Employee designation">
        <input type="text" class="form-control w-25 m-2"  placeholder="Employee salary">
        <button class="ml-3 w-25 btn btn-success text-center">Update Employee</button>
    
    
 

    </form>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>